* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    background-color:#FFEBFA;
  }
.header{
    width: 100%;
    height: 150px;
    background-color: rgb(245, 178, 194);
}
.heart
{
    width: 100px;
    height: 100px;
    background-image: url(../image/heart.png);
    background-size: 100px 100px;
   position: absolute;
   top: 50px;
   left: 50%;


}
.headline{
    width: 100%;
    height: 65px;
    background-color: antiquewhite;
}
.headline p{
    position: absolute;
    left: 40%;
    top: 155px;
    font-size: 40px;
}
.bar{ 
    width: 100%;
    height: 100px;
    background-color: blanchedalmond;
}
.wrap{
     width:  65%;
     height: 100px;
     margin: 0 auto;
     background-color: red;
}
.content li
{
    list-style: none;
    float: left;
    width: 400px;
}
.content li a{
    font-size: 40px;
    line-height:  100px;

}
.main{
    width: 100%;
    height: 80%;
    display: flex;
    background-color: rgb(215, 28, 28);
}
.left {
    float: left;
  width: 17.5%;
  height: auto;
  background-color: rgb(166, 111, 218);
}
.center{
    width: 65%;
    height: auto;

}
.display
{  float: right;
    position: absolute;
  width:  65%;
  height: 80%;
  background-color: chocolate;
}
.put{
    position: absolute;
    bottom: 0;
    width:  65%;
    height: 410px;
    background-color: aqua;
}
.right{
    float: right;
    width: 17.5%;
    height: auto;
    background-color: blueviolet;
}
