<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>注册</title>
    <link rel="stylesheet" href="../assets/libs/particles/css/style.css" />
    <link
      rel="stylesheet"
      href="../assets/libs/sweetalert2/sweetalert2.min.css"
    />
    <link rel="stylesheet" href="../assets/css/base.css" />
    <link rel="stylesheet" href="../assets/css/login.css" />
  </head>
  <body>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="../JavaScript/register.js"></script>
    <div id="wrapper">
      <div>
        <img width="130px" height="130px" src="../assets/img/heart.png" alt="heart"/>
        <h2>对心爱的TA留下一句话</h2>
      </div>
      <nav class="switch_nav">
        <a href="javascript:;" id="switch_signup" class="switch_btn on">注册</a>
        <a href="login.html" id="switch_login" class="switch_btn">登陆</a>
        <div class="switch_bottom" id="switch_bottom"></div>
      </nav>
      <form>
        <ul class="group_input">
          <li>
            <input
              type="text"
              placeholder="姓名"
              class="name required"
              id="name"
            />
          </li>
          <li>
            <input
              type="text"
              placeholder="请输入邮箱"
              class="mobile required"
              id="email"
            />
          </li>
          <li>
            <input
              type="password"
              placeholder="请输入密码"
              class="psd required"
              id="password"
            />
          </li>
        </ul>
        <button
          type="button"
          class="submit_btn"
          id="btnSubmit"
          onclick="register()"
        >
          注册
      </button>
      </form>
      <div class="QRcode_btn">
        <div type="submit" class="submit_btn download_btn">
			<a href="../../index/html/index_new.html">返回首页</a>
		</div>
        <div class="QRcode">
          <div class="box"></div>
        </div>
      </div>

      <div id="footer">
        <a href="javascript:;">小组成员：黄宇鑫 吴天卓 徐子涵 吴菲涵</span>
      </div>
    </div>
  </body>
</html>
